<body>
    <form action="#" method="post">
        <label for="nombreComunPais">Nombre Común:</label>
        <input type="text" name="nombreComunPais" id="nombreComunPais" value="<%= pais.nombreComun %>">
        <label for="nombreOficialPais">Nombre Oficial:</label>
        <input type="text" name="nombreOficialPais" id="nombreOficialPais" value="<%= pais.nombreOficial %>">
        <label for="capitalPais">Capital</label>
        <input type="text" name="capitalPais" id="capitalPais" value="<%= pais.capital %>">
        <label for="areaPais">Área</label>
        <input type="number" name="areaPais" id="areaPais" value="<%= pais.area %>">
        <label for="poblacionPais">Población</label>
        <input type="number" name="poblacionPais" id="poblacionPais" value="<%= pais.poblacion %>">
        <input type="submit" value="Guardar">
    </form>
</body>